In [49]:
import pandas as pd

In [50]:
df = pd.read_csv(r"SICK\SICK.txt", sep="\t", encoding="utf-8")

In [51]:
df['sentence'] = 'A: ' + df['sentence_A'] + '  B: ' + df['sentence_B']

In [52]:
df['sentence'][0]

'A: A group of kids is playing in a yard and an old man is standing in the background  B: A group of boys in a yard is playing and a man is standing in the background'

In [53]:
df_new = df[['sentence', 'entailment_label', 'SemEval_set']]

In [54]:
df_new

,sentence,entailment_label,SemEval_set
0,A: A group of kids is playing in a yard and an...,NEUTRAL,TRAIN
1,A: A group of children is playing in the house...,NEUTRAL,TRAIN
2,A: The young boys are playing outdoors and the...,ENTAILMENT,TRAIN
3,A: The young boys are playing outdoors and the...,CONTRADICTION,TRIAL
4,A: The kids are playing outdoors near a man wi...,NEUTRAL,TRAIN
...,...,...,...
9835,A: A man is in a parking lot and is playing te...,NEUTRAL,TEST
9836,A: Someone is boiling okra in a pot B: The ma...,NEUTRAL,TRAIN
9837,A: The man is singing heartily and playing the...,NEUTRAL,TRAIN
9838,A: A man in blue has a yellow ball in the mitt...,NEUTRAL,TRAIN
9839,A: Three dogs are resting on a sidewalk B: Th...,NEUTRAL,TRAIN

In [55]:
label_map = {"CONTRADICTION": 0, "NEUTRAL": 1, "ENTAILMENT": 2}

In [56]:
df_new['entailment_label'] = df_new['entailment_label'].map(label_map)

C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_37564\1587360948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['entailment_label'] = df_new['entailment_label'].map(label_map)

In [57]:
df_new

,sentence,entailment_label,SemEval_set
0,A: A group of kids is playing in a yard and an...,1,TRAIN
1,A: A group of children is playing in the house...,1,TRAIN
2,A: The young boys are playing outdoors and the...,2,TRAIN
3,A: The young boys are playing outdoors and the...,0,TRIAL
4,A: The kids are playing outdoors near a man wi...,1,TRAIN
...,...,...,...
9835,A: A man is in a parking lot and is playing te...,1,TEST
9836,A: Someone is boiling okra in a pot B: The ma...,1,TRAIN
9837,A: The man is singing heartily and playing the...,1,TRAIN
9838,A: A man in blue has a yellow ball in the mitt...,1,TRAIN
9839,A: Three dogs are resting on a sidewalk B: Th...,1,TRAIN

In [58]:
df_new["SemEval_set"].unique()

array(['TRAIN', 'TRIAL', 'TEST'], dtype=object)

In [59]:
df_new = df_new.rename(columns={'entailment_label': 'label'})

In [60]:
train_df = df_new[df_new['SemEval_set'] == 'TRAIN'].sample(n=800, random_state=42)
val_df   = df_new[df_new['SemEval_set'] == 'TRIAL'].sample(n=100, random_state=42)
test_df  = df_new[df_new['SemEval_set'] == 'TEST'].sample(n=100, random_state=42)

In [61]:
train_df.to_csv('train.csv', index=False)
val_df.to_csv('val.csv', index=False)
test_df.to_csv('test.csv', index=False)

In [62]:
text_df = train_df[["sentence", "label"]]
text_df.to_csv("text.csv", index=False)

In [63]:
text_df

                                               sentence  label
5414  A: The man is aiming a gun  B: The man is draw...      2
9102  A: A man is wearing a clear plastic cap and a ...      1
5709  A: A woman is boiling noodles in water  B: Som...      1
1079  A: A dog, which is large and gray, is carrying...      1
3951  A: A man is repairing tiles with his hands  B:...      1
...                                                 ...    ...
1385  A: A man is chopping butter into a small conta...      2
7444  A: A brown dog and a grey dog are fighting in ...      1
5681  A: A girl is playing a guitar  B: A boy is pla...      1
7910  A: A dog is running on a muddy path  B: A dog ...      1
9242  A: Two dogs are running and trying to catch a ...      2

[800 rows x 2 columns]